@using ModQ.Controllers
@model ModQ.Models.QuizViewModel
@{
    ViewBag.Title = "_QuizPartial";
}

<div class="row">
    <div class="col-md-2">
        <h2>Quiz</h2>
    </div>
    <div class="col-md-5">
        <h2>@Html.LabelFor(model => model.Faculty)<span id="facultyType"> @Html.DisplayFor(model => model.Faculty) </span></h2>
    </div>
    <div class="col-md-5">
        <h2>@Html.LabelFor(model => model.Module)<span id="moduleCode"> @Html.DisplayFor(model => model.Module)</span> </h2>
    </div>

</div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" >
                            @Html.LabelFor(model => model.Question) 
                            <span id="questionPanel">@Html.DisplayFor(model => model.Question)</span>
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default options">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    @Html.RadioButtonFor(model => model.AnswerGroup, Model.OptionOne) @Html.LabelFor(model => model.FirstOption) 
                                    <span id="optionOnePanel">@Html.DisplayFor(model => model.FirstOption)</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default options">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    @Html.RadioButtonFor(model => model.AnswerGroup, Model.OptionTwo)  @Html.LabelFor(model => model.SecondOption) 
                                    <span id="optionTwoPanel">@Html.DisplayFor(model => model.SecondOption)</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default options">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    @Html.RadioButtonFor(model => model.AnswerGroup, Model.OptionThree) @Html.LabelFor(model => model.ThirdOption) 
                                    <span id="optionThreePanel">@Html.DisplayFor(model => model.ThirdOption)</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default options">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    @Html.RadioButtonFor(model => model.AnswerGroup, Model.OptionFour)  @Html.LabelFor(model => model.FourthOption) 
                                    <span id="optionFourPanel">@Html.DisplayFor(model => model.FourthOption)</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
