@using System.Activities.Expressions
@using ModQ.Models
@model ModQ.Models.QuizViewModel
@{
    ViewBag.Title = "LoginLanding";
}
@section styles
{
    @Styles.Render("~/Content/customCss/loginLanding.css")
}
@section Scripts{
    @Scripts.Render("~/Content/customJS/quizChoice.js")
}
<div class="col-sm-3 col-md-2 sidebar">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="glyphicon glyphicon-folder-close">
                    </span>Quiz by Faculty
                </a>
            </h4>
        </div>
          
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-pencil text-primary"></span><a class="quizByFacultyLink">Engineering</a>
                                <span class="badge">@Model.NumberOfQuestionsByFaculty["Engineering"]</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-flash text-success"></span><a class="quizByFacultyLink">Computing</a>
                                <span class="badge">@Model.NumberOfQuestionsByFaculty["Computing"]</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-file text-info"></span><a class="quizByFacultyLink">Science</a>
                                <span class="badge">@Model.NumberOfQuestionsByFaculty["Science"]</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-comment text-success"></span><a class="quizByFacultyLink">Business</a>
                                <span class="badge">@Model.NumberOfQuestionsByFaculty["Business"]</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
     
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <span class="glyphicon glyphicon-th">
                    </span>Term Modules
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a class="quizByModuleLink">MA1505</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="quizByModuleLink">EG2401</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="quizByModuleLink">CS1231</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="quizByModuleLink">CG1101</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <span class="glyphicon glyphicon-user">
                    </span>New Modules
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <a class="quizByModuleLink">GEK1001</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="quizByModuleLink">EE4210</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <span class="glyphicon glyphicon-file">
                    </span>Reports
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-usd"></span><a href="">Overall Scores</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-user"></span><a href="">Term Score</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-tasks"></span><a href="">Faculty Score</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   
    @Html.Partial("_QuizPartial")    
    
    <div class="row">
      
            <div class="col-md-2">
                <button id="ajaxPrev" class="btn btn-primary">Prev</button>
            </div>
            <div class=" pull-right ">
                <button id="ajaxNext" class="btn btn-primary">Next</button>
            </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            
                    <h4 class="panel-title" id="answerDescription">
                      
                    </h4>
        </div>
    </div>
        
</div>
